@page
@model MealPlan.Pages.Person.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>
<h4>Persons</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Persons.PersonId" />
            <div class="form-group">
                <label asp-for="Persons.Firstname" class="control-label"></label>
                <input asp-for="Persons.Firstname" class="form-control" />
                <span asp-validation-for="Persons.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persons.Surname" class="control-label"></label>
                <input asp-for="Persons.Surname" class="form-control" />
                <span asp-validation-for="Persons.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
